<!-- <div class="navbar">
  <ul>
    <li><img src="/images/logo.gif" height="88px" width="88px"></li>
    <li><p>PURPLE STAR</p></li>
  </ul>
  <a href="/">home.</a>
  <a href="/about">about.</a>
  <p>ANIMATION</p>
</div> -->

<div class="navbar">
  <div class="brand">
      <img src="/images/logo.gif" alt="purp_star" height="88px" width="88px">
      <span class="purp_star">PURPLE STAR</span>
  </div>
  <div class="nav-links">
      <a href="/">home.</a>
      <a href="/#faq">faq.</a>
      <a href="/#modules">modules.</a>
      <a href="/about">about.</a>
  </div>
</div> 