<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <%- include('layouts/navbar') -%>

    <div class="main-about-div">
      <h1 style="color: yellow;">WELCOME TO THE SITE!</h1>

      <h1>About the site:</h1>
      <p>
        This site is made for everyone! From Grade 1 kids to people in
        their 60s ... this site will help you keep safe on the internet, while
        also providing knowledgeable resources! You would learn about basic scamming
        methods employed by various organizations, where your data goes, taking
        care of your passwords, etc! And all for free! The modules on the site
        will always be updating and new modules would be added. If I wanted, I
        could also add a cybersecurity section! Yummy! Well, that's it, I guess.
      </p>

      <h1>About the dev:</h1>
      <p style="padding-bottom: 200px">
        I am Alvin Kapoor aka Juicyyz! You can visit my <u>SOCIALS</u> (scroll down), and drop me a follow or sumn idk
      </p>
    </div>

    <%- include('layouts/footer') -%>
  </body>

  <script></script>
</html>
