<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

  <body>
    <%- include('layouts/navbar'); -%>

      <!-- POPUP -->
      <div class="popup" id="popup 1" class="popup 1" style="border-radius: 30px">

        <div class="sub-module-status-div">

          <button id="close-btn-1" class="close-btn" onclick="document.getElementById('popup 1').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-1" class="inp-cbx">
          <p id="checkbox-message-1" class="checkbox-text">Mark As Done?</p>
        </div>

        <h2><u>INTRODUCTION</u></h2>

        <p>
          The lure of lower costs and higher earnings encourages us to adopt new
          tech ... but do we know the risks? Do we understand the risks?
          <br /><br />
          Did you ever download a free software application? This application was
          never free – the price was access to your precious data. Google and Meta
          are some of the big corporate giants which steal your data on a daily
          basis!

          <br /><br />
          No one wants their info to be stolen. Hence, this website will help you
          to be more self-aware about your data, and help you protect you from
          malicious sources such as corporate giants salivating at your data, some
          random script kiddy in their mom’s basement running Nigerian Prince
          scams, etc.
          <br /><br />
          Let’s go!
        </p>
      </div>

      <div class="popup" id="popup 2" class="popup 2" style="border-radius: 30px">
        <div class="sub-module-status-div">

          <button id="close-btn-2" class="close-btn" onclick="document.getElementById('popup 2').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-2" class="inp-cbx">
          <p class="checkbox-text" id="checkbox-message-2">Mark As Done?</p>
        </div>
        <h2><u>The importance of identity in our lives</u></h2>
        <p>
          <b><u>Identity Safety:</u></b>
          <br /><br />
          Identity thieves can buy, sell, or capture your identity and use the
          information to get money and services' -- or use your name, credit
          rating, or insurance to take out a loan or get free medical care.
          <br /><br />
          Criminals impersonate you online for a range of different reasons and in
          a variety of ways. The impersonation is usually part of a larger
          cyberbullying effort. But in most cases, the motivations are financial.
          <br /><br />
          <b><u>Forms of identity theft:</u></b>
          <br /><br />
          <img src="images/forms-of-identity-theft-infograph.png" alt="forms-of-identity-theft-infograph"
            style="border-radius: 10%;" />
          <br /><br />
          “You should think thrice before handing over your Social Insurance
          Number (SIN), even if a legitimate office is requesting it from you.
          This number is a universal identifier,”
          <br /><br />
        </p>
      </div>

      <div class="popup" id="popup 3" class="popup 3" style="border-radius: 30px">
        <div class="sub-module-status-div">

          <button id="close-btn-3" class="close-btn" onclick="document.getElementById('popup 3').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-3" class="inp-cbx">
          <p class="checkbox-text" id="checkbox-message-3">Mark As Done?</p>
        </div>

        <h2><u>How do they do it???</u></h2>
        <p>
          Once the most common method of identity theft, paper or wallet theft is
          still popular, but now it’s a small-time operation:
          <br /><br />
          • ID theft can occur when people rifle through your trash and find bank
          statements and other bills with account numbers, balances, and dates.
          <br /><br />
          • Also, phishing. Phishing attacks use fraudulent emails, text messages,
          phone calls or websites to trick people into sharing sensitive data,
          downloading malware or otherwise exposing themselves to cybercrime.
          <br /><br />
          • But of course, the most common method of stealing identities is to do
          so en masse in a large-scale breach of a retailer, bank, insurance
          provider, or government agency.
          <b>Which is why you should NEVER use 1 password everywhere!</b>
          <br /><br />
          <u>Watch this small video to understand this topic better---</u>
          <br /><br />
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/R12_y2BhKbE?si=ucBxe8AJw0AYf0-t"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br /><br />
        </p>
      </div>

      <div class="popup" id="popup 4" class="popup 4" style="border-radius: 30px">
        <div class="sub-module-status-div">

          <button id="close-btn-4" class="close-btn" onclick="document.getElementById('popup 4').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-4" class="inp-cbx">
          <p class="checkbox-text" id="checkbox-message-4">Mark As Done?</p>
        </div>

        <h2><u>Types of Phishing attacks!!!</u></h2>
        <p>
          <b>Classic Phishing:</b>
          A fake website “spoofs” or closely resembles a real one, into which
          users enter their access credentials, identity data, or other sensitive
          information.
          <br /><br />
          <u>Example of some phishing emails:</u>
          <br /><br />
          <img src="images/phishing-email-example-1.png" alt="phishing-email-example-1" style="padding-top: 15px; height: 400px; width: 450px;" />
          <br /><br />
          <img src="images/phishing-email-example-2.png" alt="phishing-email-example-2" style="padding-top: 15px; height: 400px; width: 450px;" />
          <br /><br />
          <b>Spearfishing:</b>
          As the name would imply, this is a highly targeted attack, often
          designed to victimize a small, specific group or even one individual,
          using highly personalized messages that may be the result of hours or
          even weeks of online reconnaissance on the target.
          <br /><br />
          <b>Whale Phishing:</b>
          The spear phishing of a high-profile or high-value individual, such as a
          CEO or celebrity, that is, a “big fish” or whale.
          <br /><br />
          <u>Example of whale phishing:</u>
          <br /><br />
          <img src="images/whale-phishing-example.png" alt="whale-phishing-example" style="padding-top: 15px;" />
          <br /><br />
          An Indian real estate developer suffered a loss of CAD$ 655,712.40 (USD$ 479125.80) due to a whale phishing
          scam. Impersonating the company's chairperson and managing director, the scammers deceived the senior accounts
          officer into transferring funds from the company's account to theirs over the course of a week.
          <br /><br />
          <b>Catphishing: </b>
          The use of fake online personas or profiles to create a phony emotional
          or romantic relationship, either for financial gain or access to sensitive
          information. (I do have a catfishing account, but cannot post it here! Don’t tell anyone! SHHHHH &gt;w&lt;)

          <br /><br />
          <b>Vishing/Smishing</b>
          Scams or data thefts that leverage phishing-like techniques but target
          phone users over voice lines or SMS.
          <br /><br />
          <u>Example of smishing phishing:</u>
          <br /><br />
          <img src="images/vishing-phishing-example.png" alt="vishing-phishing-example" style="border-radius: 2rem;" />
          <br /><br />
          If entering personal information, type the address yourself! Confirm the site is secured with the “https”
          prefix and a lock sign.
          <img src="images/https-suffix-example.png" alt="https-suffix-example"
            style="border-radius: 20px; padding-top: 15px;" />
          <br /><br />
          next sub-module....
          <br /><br />
        </p>
      </div>

      <div class="popup" id="popup 5" class="popup 5" style="border-radius: 30px">
        <div class="sub-module-status-div">

          <button id="close-btn-5" class="close-btn" onclick="document.getElementById('popup 5').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-5" class="inp-cbx">
          <p class="checkbox-text" id="checkbox-message-5">Mark As Done?</p>
        </div>

        <h2><u>PROTECT YOUR IDENTITY!</u></h2>
        <p>
          <b>Be Aware</b> Simple awareness is the first line of defense. Be suspicious.
          Understand and believe that you are a target. Treat any message in any
          electronic medium from someone you don’t know as highly suspect.
          <br /><br />
          <b>Use the Hover Test</b> Any modern email program will show you the
          destination of a hyperlink if you mouse over it without clicking. This
          “hover test” can help you spot suspicious links in any email you’ve
          received. If the visible link and the underlying destination don’t match
          exactly, don’t click!
          <br /><br />
          <img src="images/hover-test-example.gif" alt="hover-test-example" style="height: 200px; width: 250px;">
          <br /><br />
          <b>UNSAFE UNSAFE UNSAFE UNSAFE UNSAFE UNSAFE UNSAFE</b>
          <br /><br />
          <b>Check the URL</b> URLs can be tricky! Here are some examples!
          <br /><br />
          <img src="images/safe-unsafe-link-example.png" alt="safe-unsafe-link-example">
          <br /><br />
          Now now, I know yall see the "phishing for you" and I know yall ain't THAT dumb LOL
          But here, we can see that the <b>SAFE</b> has “https” prefix in it, whereas the unsafe one does not.
          <br /><br />
          <b>Be Attachment Phobic, not homophobic B&#41;</b> Malicious attachments are the number one way
          to let password stealers, Trojan horse viruses, and other nasties get onto
          your computer. You should only open attachments from people you
          Know, even then, DON’T CLICK ON ANY SUS LINKS YOUR HOMIE SENDS YOU!!!!!!! This is how A LOTTTT of people get
          hacked, because they trust the messages their friend sends. You don’t know if your homie been hacked or nah

          <br /><br />

          Want to not be hacked? Have a strong password in the first place! And with that, we transition into
          <b>PASSWORDS!!!!!</b> YAYYYYY!
          <br /><br />
        </p>
      </div>

      <div class="popup" id="popup 6" class="popup 6" style="border-radius: 30px">
        <div class="sub-module-status-div">

          <button id="close-btn-6" class="close-btn" onclick="document.getElementById('popup 6').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-6" class="inp-cbx">
          <p class="checkbox-text" id="checkbox-message-6">Mark As Done?</p>
        </div>

        <h2><u>PASSWORDSSSSS!!!</u></h2>
        <p>
          The best way to protect yourself online lies in having a strong password!
          <br /><br />
          <b>One Size Does Not Fit All</b> Your password cannot be the same everywhere! Keep it changing! If a hacker
          gains
          access to your password on one site, they WILL try that same password on other sites! And you’ll lose ALL your
          data from all these websites!
          <br /><br />
          <b>Bigger is better ( ͡° ͜ʖ ͡°)</b> (SORRY I HAD TO MAKE THAT JOKE) A longer/bigger password is much harder to
          crack
          open! Believe it or not, a hacker’s first step would be to guess your password based on info we have. So, have
          random, longer passwords!
          <br /><br />
          <b>Resources to manage your passwords:</b>
          Dashlane, LastPass, 1Password or any other free/paid password managers.
          <br /><br />
          <img src="images/weakest-passwords-table.png" alt="weakest-passwords-table" style="width: 500px;">
          <br /><br />
          ALSO DON’T FORGET 2FA!!!! Always remember to use 2FA to secure your accounts! It is not foolproof, but it adds
          an extra layer of security.
          <br /><br />
        </p>
      </div>

      <div class="popup" id="popup 7" class="popup 7" style="border-radius: 30px">
        <div class="sub-module-status-div">

          <button id="close-btn-7" class="close-btn" onclick="document.getElementById('popup 7').style.display = 'none'; 
                 document.getElementById('popupsidedark').style.display = 'none';">
            X
          </button>

          <input type="checkbox" id="1stM-sub-module-7" class="inp-cbx">
          <p class="checkbox-text" id="checkbox-message-7">Mark As Done?</p>
        </div>

        <h2><u>Are you a TARGET?</u></h2>
        <p>
          <img src="images/stats-for-1stM-submodule7.png" alt="stats-for-1stM-submodule7">
          <br /><br />
          <b>The groups of people targeted are:</b><br /><br />
          - People aged from 18-24<br />
          - Young children<br />
          - Anyone with a weak password<br />
          - People making over $75,000<br />
          <br /><br />
          <b>Signs your identity has been stolen:</b><br /><br />
          - Your credit cards rates go up<br />
          - Your credit rating drops<br />
          - Bills that you never remember show up<br />
          - Car insurance goes up<br />
          - Bank statements stop coming (is this true chat? I don’t have a bank account)<br />
          - Tax refund denied<br />
          - Can’t renew drivers license<br />
          - Check-up reminders for medical conditions you don’t have<br />
          - Calls from collecting agencies<br />
          - Turned down for a loan<br />
          - Fail to pass background check for job (bruh this is so whack istg)<br />

          <br /><br />
          Soooo...what to do when a victim of ID theft?
          <br /><br />
          <img src="images/if-victim-of-idtheft-info.png" alt="if-victim-of-idtheft-info">
          <br /><br />
          <u>And that is all for this module! Make sure that you are keeping your identity safe using the tips mentioned in
          the sub-modules above!</u> <b>What about a quiz now?</b>
          <br /><br />
          <br /><br />
        </p>
      </div>

      <!-- POPUP DARK (on left)-->
      <div id="popupsidedark" class="popupsidedark"></div>

      <!-- Resources -->
      <div class="flex-container module-1" id="container-module-n" style="padding-bottom: 0px; height: 750px;">
        <div class="resource-list-div" id="container-module-n" style="padding-left: 30px; height: 750px;">
          <h1>Keeping your identity safe!</h1>
          <p id="submodule1btn" onclick="document.getElementById('popup 1').style.display = 'block'; 
                   document.getElementById('popupsidedark').style.display = 'block';" style="padding-top: 45px">
            Introduction
          </p>
          <br />
          <p id="submodule2btn" onclick="document.getElementById('popup 2').style.display = 'block'; 
                 document.getElementById('popupsidedark').style.display = 'block';">
            Identity safety and theft
          </p>
          <br />
          <p id="submodule3btn" onclick="document.getElementById('popup 3').style.display = 'block';
                   document.getElementById('popupsidedark').style.display = 'block';">
            How do they carry out frauds?
          </p>
          <br />
          <p id="submodule4btn" onclick="document.getElementById('popup 4').style.display = 'block';
                   document.getElementById('popupsidedark').style.display = 'block';">
            Types of phishing attacks!
          </p>
          <br />
          <p id="submodule5btn" onclick="document.getElementById('popup 5').style.display = 'block';
                   document.getElementById('popupsidedark').style.display = 'block';">
            Protect your identity!
          </p>
          <br />
          <p id="submodule6btn" onclick="document.getElementById('popup 6').style.display = 'block';
                   document.getElementById('popupsidedark').style.display = 'block';">
            PASSWORDSSSSS!!!
          </p>
          <br />
          <p id="submodule7btn" onclick="document.getElementById('popup 7').style.display = 'block';
                   document.getElementById('popupsidedark').style.display = 'block';">
            Are you a TARGET?
          </p>
          <br />
          <br />
        </div>

        <div class="quiz-div" id="container-module-n" style="border-left: 5px solid black; height: 750px;">
          <p id="moduleCompletionStatus"></p>
          <h1>READY?</h1>
          <a id="quiz-btn" class="button" onclick="window.location.href='/quiz-1';" style="--color: #ff1867">
            Start Quiz?
          </a>
        </div>
      </div>

      <%- include('layouts/footer'); -%>
  </body>

  <script type="module">

    // Attach event listener to the checkboxes to save their states -- ln 377 to 381, ln 425 to 434 -- CODE FROM https://stackoverflow.com/questions/76801414/how-can-i-retain-my-checkbox-status-even-if-i-refresh-the-page
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
      checkbox.addEventListener('change', saveCheckboxStates);
    });

    // Load checkbox states on page load
    document.addEventListener('DOMContentLoaded', loadCheckboxStates);
    window.addEventListener("load", (e) => {
      isChecked("1stM-sub-module-1", "checkbox-message-1");
      isChecked("1stM-sub-module-2", "checkbox-message-2");
      isChecked("1stM-sub-module-3", "checkbox-message-3");
      isChecked("1stM-sub-module-4", "checkbox-message-4");
      isChecked("1stM-sub-module-5", "checkbox-message-5");
      isChecked("1stM-sub-module-6", "checkbox-message-6");
      isChecked("1stM-sub-module-7", "checkbox-message-7");
    })

    // change the text of the checkbox
    function isChecked(checkboxID, checkboxMessage,) {
      if (document.getElementById(checkboxID).checked) {
        document.getElementById(checkboxMessage).textContent = "Completed";
      } else {
        document.getElementById(checkboxMessage).textContent = "Mark As Done?";
      }
    }

    // saves the checkbox statuses in local storage
    function saveCheckboxStates() {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach((checkbox) => {
        if (storageAvailable("localStorage")) {
          //LOCAL STORAGE IS AVAILABLE
          localStorage.setItem(checkbox.id, checkbox.checked);
          isChecked("1stM-sub-module-1", "checkbox-message-1");
          isChecked("1stM-sub-module-2", "checkbox-message-2");
          isChecked("1stM-sub-module-3", "checkbox-message-3");
          isChecked("1stM-sub-module-4", "checkbox-message-4");
          isChecked("1stM-sub-module-5", "checkbox-message-5");
          isChecked("1stM-sub-module-6", "checkbox-message-6");
          isChecked("1stM-sub-module-7", "checkbox-message-7");
        } else {
          //LOCAL STORAGE IS NOT AVAILABLE
          console.log("ERROR! NO SPACE IN LOCALSTORAGE!");
        }
      })
    }

    // function to load the checkbox statuses on reload 
    function loadCheckboxStates() {
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
      checkboxes.forEach((checkbox) => {
        const savedState = localStorage.getItem(checkbox.id);
        if (savedState !== null) {
          checkbox.checked = savedState === 'true';
        }
      });
    }

    // checking the storage of local storage -- ln 437 to 462 -- CODE FROM https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API"
    function storageAvailable(type) {
      let storage;
      try {
        storage = window[type];
        const x = "__storage_test__";
        storage.setItem(x, x);
        storage.removeItem(x);
        return true;
      } catch (e) {
        return (
          e instanceof DOMException &&
          // everything except Firefox
          (e.code === 22 ||
            // Firefox
            e.code === 1014 ||
            // everything except Firefox
            e.name === "QuotaExceededError" ||
            // Firefox
            e.name === "NS_ERROR_DOM_QUOTA_REACHED") &&
          // acknowledge QuotaExceededError only if there's something already stored
          storage &&
          storage.length !== 0
        );
      }
    } 
  </script>

</html>